:host {
    --header-padding-left: 2rem;
    --menu-gap: 2rem;
}

.header {
    height: 64px;
    display: flex;
    align-items: center;
    padding-left: var(--header-padding-left);

    .main-menu {
        display: flex;
        gap: var(--menu-gap);
        list-style: none;
        margin: 0;
        padding: 0;

        .menu-item {
            font-size: 24px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;

            a {
                cursor: pointer;
                text-decoration: none;
                color: var(--primary-text-color);
            }
        }
    }

    .main-menu-mobile {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding-left: calc(var(--header-padding-left) - 0.5rem);
    }
}

@media screen and (max-width: 480px) {
    .header {
        padding-left: calc(var(--header-padding-left) - 1rem);
    }
}