:host {
    --timeline-margin-left: 2rem;
    --timeline-wrapper-gap: 1rem;
    
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.timeline-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--timeline-wrapper-gap);

    .timeline-title {
        margin: unset;
        margin-left: var(--timeline-margin-left);
        font-weight: 300;
        font-size: var(--h2-font-size);
    }
}

@media screen and (max-width: 768px) {
    .timeline-wrapper {
        .timeline-title {
            margin-left: calc(var(--timeline-margin-left) - 0.5rem);
        }
    }
}