.search-card-wrapper-link {
    text-decoration: none;
}

.search-card {
    // height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    aspect-ratio: 3 / 2;
    transition: 0.25s ease-in-out;

    &:hover {
        filter: brightness(1.1);
    }

    .search-card-image-wrapper {
        position: relative;
        height: 100%;

        .search-card-image {
            border-radius: 4px;
        }
    }

    .search-card-heading {
        color: var(--primary-text-color);
        font-weight: var(--primary-font-weight);
        margin: unset;
    }
}

@media screen and (max-width: 1280px) {
    .search-card {
        .search-card-heading {
            font-size: 0.9rem;
        }
    }
}

@media screen and (max-width: 480px) {
    .search-card {
        .search-card-heading {
            font-size: 0.8rem;
        }
    }
}