:host {
    --content-main-gap: 1rem;
    --content-block-padding: 3rem;
}

main.main {
    background-color: var(--primary-ui-backdrop-color);

    .content-main {
        display: flex;
        flex-direction: column;
        gap: var(--content-main-gap);
        padding: var(--content-block-padding) 0;
    }
}

@media screen and (max-width: 768px) {
    main.main {
        .content-main {
            padding: calc(var(--content-block-padding) - 1.5rem) 0;
        }
    }
}