:root {
    --default-font: 'Rubik', sans-serif;
    --primary-ui-backdrop-color: #1a2a39;
    --primary-text-color: white;
    --h2-font-size: 1.8rem;

    body {
        margin: 0;
        font-family: var(--default-font);
    }
}

/* SplideJS styles */
/* these can't be on the component level due to how Splide generates them */
/* so we are pretending as if this class is needed for encapsulation */

.splide-timeline {
    .splide__arrow[disabled] {
        display: none;
    }
}