<div class="search-form-wrapper">
  <app-search-form (searchResults)="onSearchResultsReceived($event)"></app-search-form>
  @if (searchData) {
    <div class="results-section">
      <!-- <h2>Search Results:</h2> -->
      <!-- debug -->
      <!-- <pre>{{ searchData | json }}</pre> -->
      @for (mediaType of processedResults; track mediaType.label) {
        <div class="media-type">
          <h3 class="media-type-header">{{ mediaType.label }}</h3>
        </div>
        <div class="results-grid">
          @for (item of mediaType.data; track $index) {
            <!-- consider either creating a new component to use as a template -->
          }
        </div>
      }
    </div>
  }
</div>